@charset "utf-8";

.services-content {
  width: 100%;
}
.product {
  /* overflow-x: scroll; */
  width: 100%;
  height: auto;
  display: grid;
  grid-auto-flow: row; 
  padding: 16px;
  margin-top: 8px;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.333% - 3.33333px), 1fr)); 
  grid-auto-rows: auto; 
  gap: 24px 5px;
}
.product li{
  text-align: center;
  /* background-color: antiquewhite; */
  cursor: pointer;
}
.product li img{
  width: 80%;
  height: auto;
  transition: all 1s;
}

.product li:hover img{
  transform: scale(1.2);
}
